body{
    background-color: rgb(189, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    text-align: center;
    margin: 10%;
}

.menu{
    
    font-size: 20px;
    display: flex;
    padding: 30px;
    box-shadow: 10px 15px 40px;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.menu a{
    text-decoration: solid;
    color: black;  
}

.menu a:hover{
    font-size: 20px;
    color:gold;
}

p,h2{
    margin: 1%; 
}

img{
    border-radius: 40% 
    }

section{
    
    border: 6px double;
    margin: 2%;
    box-shadow: 5px 5px 5px;
}

.tex{
    text-align: center;
}

.contat{
    text-align: center;
}


.icon{
    font-size: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 1%;
}

i{
    font-size: 60px;
    justify-content: center;
    display: flex;
    color: black;
}

i:hover{
    color: gold;    
}












